# Node modules
fnt/node_modules/
backend/node_modules/

# Logs
*.log
npm-debug.log*

# Build files
fnt/dist/
fnt/build/

# Environment files
fnt/.env
backend/.env
*.local

# Editor settings
.vscode/
.idea/
.DS_Store
